/* .navbar{
    height: 150px;
    background-color: ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 200px;
    width: 150px;
}
.logo{
    background-image: url("/logo.jpeg");
    background-size: cover;
    height: 150px;
    width: 100%;
} */



<Container maxWidth="lg">
  {/* Section 1: About
  <section style={{ padding: '50px ', backgroundColor: 'pink' ,marginTop:"20px"}}>
    <Typography variant="h4" align="center" gutterBottom>
      Pragati Mission
    </Typography>
    <Grid container spacing={4} justifyContent="center">
      <Grid item xs={12} >
        <Card>
           <CardMedia
            component="img"
            height="600"
            width="600"
           
            
            image="/image2.jpeg "    // Replace with an actual image URL
            alt="About Image"
          /> 
          <CardContent> 
            <Typography variant="h6" gutterBottom>
              Our Mission
            </Typography>
            <Typography variant="body2" component="p">
              
            </Typography>
          </CardContent>
        </Card>
      </Grid>
      {/* Add more cards or content */}
    





      /* <> 
      // <Box className="mainbg">
      //  <Grid 
      //  container
      //  direction="row"
      //  justifyContent='center'
      //  alignItems="center"
      //  spacing={3}
      //  sx={{marginTop:10}}
      //  >
      //   <Grid item xs={6} sx={{backgroundColor:"red"}}>
      //        <h1>Pragati mission</h1>
      //        <br></br>
      //        <h1>mission</h1>
      //   </Grid>
        
    
      //  </Grid>
    
      // </Box>
      
      
      
        </> */
    
    